/* .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.senderField {
  display: flex;
  gap: 40px;
}
.receiverField {
  display: flex;
  gap: 40px;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  padding: 14px 24px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
}

.field input {
  width: 100%;
}

@media (max-width: 480px) {
  .form {
    padding: 15px;
    max-width: 100%;
  }
} */
/* Базові стилі (Mobile First) */
.form {
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  /* background-color: #f9f9f9; */
  border-radius: 8px;

  max-width: 100%;
}
.react-tel-input .form-control {
  width: 100% !important;
}
.senderTitle {
}
.senderField,
.receiverField {
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  width: 100%;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(24, 27, 30, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(24, 27, 30, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(24, 27, 30, 0.2);
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #4caf50;
}

button {
  padding: 14px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonCont {
  /* width: 100%; */
  display: flex;
  gap: 8px;
  justify-content: right;
  align-items: center;
}
button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

.error {
  color: #e74c3c;
  font-size: 12px;
  margin-top: 8px;
  font-weight: 500;
}

/* Медіа-запит для планшетів (max-width: 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .react-tel-input .form-control {
    width: 100% !important;
  }
  .form {
    padding: 20px;
    max-width: 80%;
  }

  .senderField,
  .receiverField {
    flex-direction: column;
    gap: 20px;
  }

  .field {
    flex-direction: column;
    margin-bottom: 16px;
  }
}

/* Медіа-запит для великих екранів (min-width: 769px) */
@media (min-width: 769px) {
  .form {
    padding: 20px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  /* .inputCont {
    display: flex;
    justify-content: space-between;
  } */
  .senderCont {
    display: flex;
    gap: 24px;
  }
  .senderField,
  .receiverField {
    flex-direction: column;
    gap: 24px;
  }

  .field {
    flex-direction: column;
    margin-bottom: 16px;
  }

  label {
    font-size: 16px;
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 18px;
    padding: 14px 30px;
  }
}
