/* CargoDescriptionSelector.module.css */

.container {
}

.divLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color: #000;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}

.input {
  width: 274px;
  height: 30px;
  border-radius: 5px;
  background: #d6e0f5;
  margin-top: 21px;
  margin-bottom: 15px;
}

.list {
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.listItem {
  padding: 10px;
  cursor: pointer;
}

.listItem:hover {
  background-color: #f0f0f0;
}

.loading {
  color: #007bff;
}

.error {
  color: red;
}

.selectedCargo {
  margin-bottom: 10px;
  font-weight: bold;
}
.buttonClear {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #ff543e;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  float: right; /* Додаємо для переміщення кнопки вправо */
  &:hover,
  &:focus {
    background-color: transparent;
    color: #da412d;
  }

  .iconRemove {
    &:hover,
    &:focus {
    }
  }
}
.decrList {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 400;
  padding: 4px;
  color: #000000;
  list-style-type: circle;
}

@media (min-width: 1440px) {
  .input {
    width: 575px;
    height: 40px;
  }

  .divLabel {
  }

  .label {
    font-size: 24px;
    margin-right: 210px;
  }

  .buttonClear {
    font-size: 20px;
  }

  .svgRemove {
    width: 24px;
    height: 28px;
    margin-right: 12px;
  }
}
