/* SelectWarehouse.module.scss */
/* src/NovaPoshtaComponent.module.css */

.container {
  margin: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  padding: 4px 8px;
  border: none;
  background-color: #ffa5a5;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 14px;
}

.button:hover {
  background-color: #f46f6f;
  color: #5b5858;
}

.loader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #007bff;
}

.list {
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  padding: 8px;
  cursor: pointer;
}

.listItem:hover {
  background-color: #f0f0f0;
}

.warehouses_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.warehouses_list__item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.warehouses_list__item:hover {
  background-color: #f0f0f0;
}
