/* SelectWarehouse.module.scss */
/* src/NovaPoshtaComponent.module.css */

.container {
}

.input {
  width: 274px;
  height: 30px;
  border-radius: 5px;
  background: #d6e0f5;
  margin-top: 5px;
  margin-bottom: 12px;
}

.label {
  color: #000;
  font-family: "Tilda Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.buttonClear {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #ffa5a5;
  text-align: center;
  font-family: "Tilda Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
  float: right; /* Додаємо для переміщення кнопки вправо */
  &:hover,
  &:focus {
    background-color: transparent;
    color: #ff543e;
  }
}
.svgRemove {
  fill: #ffa5a5;
  stroke: #ffa5a5;
}
.iconRemove {
  fill: #ffa5a5;
  stroke: #ffa5a5;
}

.loader {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #007bff;
}

.list {
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.listItem {
  padding: 8px;
  cursor: pointer;
}

.listItem:hover {
  background-color: #f0f0f0;
}

.warehouses_list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.warehouses_list__item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.warehouses_list__item:hover {
  background-color: #f0f0f0;
}
